@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    margin: 0;
    padding: 0;
    font-family: Roboto;

}

h1 {

    color: #146152;

}

main {

    padding: 16px;
    margin-bottom: 10px;

}
.joinBtn {
    color: black;

}

.joinBtn:hover {
    color: #008000;
}

img {

    width: auto;
    height: 200px;

}

nav {

    border-bottom: 1px solid black;
    padding: 16px;

}

nav a {

    color: white;

}

header {

    background-color: #FF5A33;

}

.all-recipes-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

h3 a {

    color: #44803F;

}

tr:nth-child(even) {

    background-color: rgba(211, 211, 211, 0.518);

}

footer {

    padding: 20px 20px;
    position: sticky;
    bottom: 0;
    background-color: #B4CF66;

}

a:hover {

    color:green;

}

tr th {

    font-weight: Bolder;

}
